<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Atividade 02</title>
</head>
<body>
<header class="text-center p-2 rounded ms-1 me-1 mt-1" style="background-color: lightgreen;">
  <h2 class="mt-2 ms-2" >Notícia 01</h2>
  <a class="btn btn btn-primary btn-sm ms-2" href="/">Página Inicial</a>
  <a class="btn btn-primary btn-sm ms-2" href="/noticias">Noticias Principais</a> 
</header>

<div class="container text-center">

<img src="/images/novochamp.jpg" class="rounded mb-2 mt-3">

  <div class="card mb-2" style="width: 50%;left:25%;">
  <div class="card-body">
    <h5 class="card-title">Novo campeão de Genshin Impact revelado</h5>
    <h6 class="card-subtitle mb-2 text-muted">Sua data de lançamento está prevista para o dia 22 de setembro.</h6>
    <p class="card-text">Olá, Viajantes! Hoje estaremos apresentando para vocês, a Sacerdotisa Divina da Ilha Watatsumi, Sangonomiya Kokomi.</p>
    <p class="card-text">Sangonomiya Kokomi é uma personagem de suporte com excelentes habilidades de cura.</p>
    <p class="card-text">Sua habilidade elemental "Bake-Kurage", permite que ela cure continuamente os membros da equipe ao redor, enquanto causa Dano Hydro em uma AdE aos inimigos</p>
    <p>Ao liberar seu Supremo, "Vestimenta Cerimonial" o dano causado pelo "Bake-Kurage" de Sangonomiya Kokomi e pelos seus Ataques Normais e Carregados com base na sua Vida Máxima é aumentado. Quando seus ataques normais e carregados atingem um inimigo, membros da equipe ao reder são curados</p>
    <a href="https://www.hoyolab.com/genshin/article/903868" class="btn btn-primary" target="_blank">Matéria Original</a>
  </div>
</div>
</div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>