<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
  <title>Atividade 02</title>
</head>
<body class="fundoverde">
<div class="text-center p-5">
  <h2 class="mt-2 ms-2">Notícias</h2>
  
  <a class="btn btn-primary btn-sm ms-2" href="/noticias">Noticias Principais</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>