<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Atividade 02</title>
</head>
<body>
<header class="text-center p-5 rounded ms-1 me-1 mt-1" style="background-color: lightgreen;">
  <h2 class="mt-2 ms-2" >Notícias Principais</h2>
  <a class="btn btn btn-primary btn-sm ms-2" href="/">Página Inicial</a>
</header>

<div class="container mt-2">

<div class="card mb-2" style="width:50%;left:25%">
  <img src="/images/novochamp.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Novo campeão de Genshin Impact revelado</h5>
    <p class="card-text">Sua data de lançamento está prevista para o dia 22 de setembro.</p>
    <a href="/noticias/01" class="btn btn-primary">Noticia 01</a>
  </div>
</div>

<div class="card mb-2" style="width: 50%;left:25%">
  <img src="/images/vex.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">League of Legends: veja habilidades de Vex, a nova campeã</h5>
    <p class="card-text">Campeã será a primeira Yordle a ser lançada no LoL desde o lançamento do Kled, em 2016.</p>
    <a href="https://www.techtudo.com.br/noticias/2021/09/league-of-legends-veja-habilidades-de-vex-a-nova-campea-esports.ghtml" class="btn btn-primary" target="_blank">Notícia 02</a>
  </div>
</div>

<div class="card mb-2" style="width: 50%;left:25%">
  <img src="/images/aloy.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Aloy em Genshin Impact: veja gameplay, skills, build e comps</h5>
    <p class="card-text">Protagonista de Horizon Zero Dawn pode ser resgatada gratuitamente pelos jogadores por tempo limitado; veja detalhes de como jogar com a personagem</p>
    <a href="https://www.techtudo.com.br/noticias/2021/09/aloy-em-genshin-impact-veja-gameplay-skills-build-e-comps.ghtml" class="btn btn-primary" target="_blank">Noticia 03</a>
  </div>
</div>

</div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
 
</body>
</html>